@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Tektur', cursive;
}

#video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.navbar {
    background-color: #67676766; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
    font-size: 1.3rem;
}

.logo {
    flex: 1;
    padding-left: 20px;
}
.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-logo{
  width: 350px; 
  text-align: center;
  margin-top: 70px;
}

.logo img {
    height: 50px; /* Set your desired logo height */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links a {
    color: #fff; /* Set your desired link text color */
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;

    
}


#explore{
    padding: 10px;
}

.signin-container{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #6767675e;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgb(0, 0, 0.1);
}

.signin-container a{
    color: #fff;
}

h1{
    font-size: 2rem;
    margin-bottom: 1.2rem;
    color: #fff;
}

h3{
    color: #fff;
}

form input{
    width: 72%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}

button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    background-color: rgba(156, 156, 156, 0.568);
    cursor: pointer;
}

button:hover{
    background-color: azure;
}

.terms{
    margin-top: 0.2rem;
}

.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.terms label{
    font-size: 0.7rem;
}

.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
}


#uploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 8px solid #cccccc3a;
    border-radius: 5px;
    margin-top: 10px;
    color: #fff;
  }

  input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 16px;
    border: #00000000;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #484848;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #000000;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 60px;
}

/* Styles for grid items (cells) */
.grid-item {
    flex: 0 0 calc(33.33% - 20px); /* Three columns with 20px gap */
    background-color: #f0f0f037;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    height: 200px;
    transition: transform 0.3s ease; 
}

.grid-item:hover{
    transform: scale(1.1);
}

#audioPlayer{
    margin-top: 10px;
    justify-content: center;
}


.username{
    margin-bottom: 10px;
}

.btn-container{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh;
}

#intro{
    padding: 10px 20px;
    background-color: #ffcc0058;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 150px;
    
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .grid-item {
        flex: 0 0 calc(50% - 20px); /* Two columns with 20px gap */
    }
}

@media screen and (max-width: 480px) {
    .grid-item {
        flex: 1 0 100%; /* Full-width on smaller screens */
    }
}

 
